aws:
  key: my_amazon_key_id
  secret: my_amazon_secret_key

  # ELB
  ######################
  elbs:
    - name: MyElb
      region: us-west-1
      zones:
        - us-west-1a
        - us-west-1c
      listeners:
        - [80, 80, 'http', 'http']
        - [443, 80, 'https', 'http', 'my_ssl_cert']
      health_check:
        target: HTTP:80/health
        timeout: 3
        interval: 30
        healthy_threshold: 4
        unhealthy_threshold: 2
      subnets:
        - subnet1
        - subnet2
      security_groups:
        - my_elb_security_group
        - my_other_elb_security_group
      scheme: internet-facing
      policies:
        80:
          type: app
          cookie_name: my_cookie
        443:
          type: lb
          cookie_expire: 60
      instances:
        - i-deadbeef
        - i-01234abc

  absent_elbs:
    - name: BadElb
      region: us-west-1

  # EC2
  ######################
  servers:
    - name: webserver
      region: us-west-1
      key_name: mykey
      ami: ami-fe002cbb
      security_groups:
        - default
        - webserver
      instance_type: t1.micro
      termination_protection: true
      placement: us-west-1a
      block_device_map:
        /dev/sdb:
          ephemeral_name: ephemeral0

    - name: webserver2
      region: us-west-1
      key_name: mykey
      ami: ami-fe002cbb

  servers_absent:
    - name: old-webserver
      region: us-west-1
      force_termination: true

  security_groups:
    - name: webserver
      region: us-west-1
      description: Webservers
      rules:
        - ip_protocol: tcp
          from_port: 80
          to_port: 80
          cidr_ip: 0.0.0.0/0
        - ip_protocol: tcp
          from_port: 8080
          to_port: 8090
          src_security_group: webserver

  security_groups_absent:
    - name: old-group
      region: us-west-1

  keypairs:
    - name: mykey
      region: us-west-1
      content: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDMiEGksJCy8vo6s16VYVIg/emb3QHvno9Fh0irFjgKMe9Esn73CwQm96AGEMpVzeugMQg2YjpjIk5exdk6aJct66IYiRt+rq05C/IWsFzYvXr5+DBNkepOj9pVxtImTy7boZb9AGXBiMg5YviugbRD0XZSyoA5OZ9UHlqjg1tH5Cdm1Q8RfFi3GOzMtDhHIRojLW0Quf1JfiUGXFqJTdTbWlP+ANe560LvaOhsoxMaAs6xENzOjKqTDf9oXH00oHBUqlSwuJJfrsVpEdcp2BQQstPtG5sReW3UpJT8zl/Y/I0B3+vCt5plsyV77fa0Up8HRrOy00sZ9pzizLyBHip7 stevearc@ubuntu

  keypairs_absent:
    - name: oldkey
      region: us-west-1

  # ElastiCache
  ######################
  elasticaches:
    - name: my-cache
      region: us-west-1
      node_type: cache.m1.small
      security_group: mygroup
      engine: redis
      engine_version: 2.6.13
      num_nodes: 1
      preferred_availability_zone: us-west-1a
      snapshot: my-bucket/path/to/backup.rdb
      snapshot_optional: true

  absent_elasticaches:
    - name: old-cache
      region: us-west-1

  elasticache_replication_groups:
    - name: repl-group
      region: us-west-1
      primary: my-cache
      description: Backing up data

  elasticache_replicas:
    - name: my-backup
      region: us-west-1
      replication_group: repl-group
      preferred_availability_zone: us-west-1c

  elasticache_parameter_groups:
    - name: myparameters
      region: us-west-1
      family: redis2.6
      description: My test group
      parameters:
        databases: 32
        maxmemory-policy: noeviction
        appendonly: true

  absent_elasticache_parameter_groups:
    - name: oldparameters
      region: us-west-1

  elasticache_security_groups:
    - name: mygroup
      region: us-west-1
      description: My security group
      authorized:
        - ec2_security_group
        - [ec2_security_group2, 123456789]

  absent_elasticache_security_groups:
    - name: oldgroup
      region: us-west-1
