aws:
  key: my_amazon_key_id
  secret: my_amazon_secret_key

  elbs:
    - name: MyElb
      region: us-west-1
      zones:
        - us-west-1a
        - us-west-1c
      listeners:
        - [80, 80, 'http', 'http']
        - [443, 80, 'https', 'http', 'my_ssl_cert']
      health_check:
        target: HTTP:80/health
        timeout: 3
        interval: 30
        healthy_threshold: 4
        unhealthy_threshold: 2
      subnets:
        - subnet1
        - subnet2
      security_groups:
        - my_elb_security_group
        - my_other_elb_security_group
      scheme: internet-facing
      health_check:
        target: HTTP:80/health
        timeout: 3
        interval: 30
        healthy_threshold: 4
        unhealthy_threshold: 2
      policies:
        80:
          type: app
          cookie_name: my_cookie
        443:
          type: lb
          cookie_expire: 60
      instances:
        - i-deadbeef
        - i-01234abc

  absent_elbs:
    - name: BadElb
      region: us-west-1
